.badge {
    color: #fff;
}

.badge-category-0 {
    background-color: #5474c4;
}

.badge-category-1 {
    background-color: #94cc74;
}

.badge-category-2 {
    background-color: #fbc95e;
}

.badge-category-3 {
    background-color: #ec6464;
}

.badge-category-4 {
    background-color: #75c4db;
}