.ratio-7 {
    aspect-ratio: 0.7;
}

.ratio-8 {
    aspect-ratio: 0.8;
}

.ratio-9 {
    aspect-ratio: 0.9;
}

.ratio-10 {
    aspect-ratio: 1;
}

.net-wrapper {
    background-color: #FFF;
    border-radius: 10px;
    border: #40414b solid 1px;
}

.text-main {
    color: #fff;
}

.chart {
    width: 100%;
    height: 100%
}